Clinic/Server/CoronaClinic/obj/Debug/net8.0/CoronaClinic.AssemblyInfo.cs
Clinic/Server/CoronaClinic/obj/Debug/net8.0/CoronaClinic.AssemblyInfoInputs.cache
Clinic/Server/CoronaClinic/obj/Debug/net8.0/CoronaClinic.assets.cache
Clinic/Server/CoronaClinic/obj/Debug/net8.0/CoronaClinic.GeneratedMSBuildEditorConfig.editorconfig
