<!--region table-->
<p-table [value]="members" [tableStyle]="{ 'min-width': '20rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th class="center-content">Name</th>
      <th class="center-content">Last Name</th>
      <th style="width: 10rem" class="center-content">
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <p-button
            [style]="{ height: '5rem', 'margin-right': '1rem' }"
            (click)="openCreateMemberForm('create')"
            >Create New Member</p-button
          >
          <p-button
            [style]="{ height: '5rem' }"
            (click)="visibleSchemesFunction()"
            >Show Schemes</p-button
          >
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-member>
    <tr>
      <td class="center-content">{{ member.name }}</td>
      <td class="center-content">{{ member.lastName }}</td>
      <td class="center-content">
        <p-button
          (click)="showDialog(member)"
          icon="pi pi-external-link"
          label="Show"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!--full Details dialog-->
<p-dialog
  [header]="(fullMember?.name || '') + ' ' + (fullMember?.lastName || '')"
  [(visible)]="visible"
  [style]="{ width: '50vw' }"
>
  <div *ngIf="fullMember" style="padding: 1rem">
    <p><b>Identity Number:</b> {{ fullMember.identityNumber }}</p>
    <p><b>City:</b> {{ fullMember.city }}</p>
    <p><b>Street:</b> {{ fullMember.street }}</p>
    <p><b>Home Number:</b> {{ fullMember.homeNumber }}</p>
    <p><b>Birthdate:</b> {{ fullMember.birthdate }}</p>
    <p><b>Telephone:</b> {{ fullMember.telephone }}</p>
    <p><b>Mobile Phone:</b> {{ fullMember.mobilePhone }}</p>
    <p><b>Is Immune:</b> {{ fullMember.isImmune }}</p>
    <!-- Assuming immunes is an array -->
    <p *ngIf="fullMember.isImmune"><b>Immunes:</b></p>
    <ul>
      <ng-container *ngFor="let immune of fullMember.immunes">
        <ng-container *ngIf="immune.creatorId !== 0">
          <li>
            <p><b>Date:</b> {{ immune.date }}</p>
            <p><b>Creator Name:</b> {{ immune.creatorName }}</p>
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <p><b>Positive Date:</b> {{ fullMember.positiveDate }}</p>
    <p><b>Negative Date:</b> {{ fullMember.negativeDate }}</p>
    <div
      style="
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
      "
    >
      <p-button (click)="openUpdateMemberForm('update')"
        >Update Member</p-button
      >
      <p-button (click)="deleteMember()">Delete Member</p-button>
    </div>
  </div>
</p-dialog>

<!--form dialog-->
<p-dialog
  [header]="FormTitle"
  [(visible)]="visibleForm"
  [style]="{ width: '50vw' }"
>
  <div>
    <label for="name">Name:</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="newMember.name"
      name="name"
      required
    />
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="newMember.lastName"
      name="lastName"
      required
    />
  </div>
  <div>
    <label for="identityNumber">Identity Number:</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="newMember.identityNumber"
      name="identityNumber"
      required
    />
  </div>
  <div>
    <label for="city">City:</label>
    <input type="text" pInputText [(ngModel)]="newMember.city" name="city" />
  </div>
  <div>
    <label for="street">Street:</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="newMember.street"
      name="street"
    />
  </div>
  <div>
    <label for="homeNumber">Home Number:</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="newMember.homeNumber"
      name="homeNumber"
    />
  </div>
  <div>
    <label for="birthdate">Birthdate:</label>
    <input
      type="datetime-local"
      pInputText
      [(ngModel)]="newMember.birthdate"
      name="birthdate"
    />
  </div>
  <div>
    <label for="telephone">Telephone:</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="newMember.telephone"
      name="telephone"
    />
  </div>
  <div>
    <label for="mobilePhone">Mobile Phone:</label>
    <input
      type="text"
      pInputText
      [(ngModel)]="newMember.mobilePhone"
      name="mobilePhone"
    />
  </div>
  <div>
    <label for="isImmune">Is Immune:</label>
    <input
      type="checkbox"
      [(ngModel)]="newMember.isImmune"
      id="isImmune"
      name="isImmune"
    />
  </div>
  <div *ngIf="newMember.isImmune" >
    <p-button *ngIf="immunesCount < 4" (click)="addImune()" icon="pi pi-plus" styleClass="p-button-sm"></p-button>
    <label for="immunes">Immunes:</label>
    <div>
      <label for="date">Date:</label>
      <input
        type="datetime-local"
        pInputText
        [(ngModel)]="immunes[0].date"
        name="date"
      />
    </div>
    <div>
      <label for="creatorId">Creator:</label>
      <select [(ngModel)]="immunes[0].creatorId" name="creator">
        <option *ngFor="let creator of creators" [value]="creator.creatorId">
          {{ creator.creatorName }}
        </option>
      </select>
    </div>
    <div *ngIf="immunesCount > 1">
      <div>
        <label for="date">Date:</label>
        <input
          type="datetime-local"
          pInputText
          [(ngModel)]="immunes[1].date"
          name="date"
        />
      </div>
      <div>
        <label for="creatorId">Creator:</label>
        <select [(ngModel)]="immunes[1].creatorId" name="creator">
          <option *ngFor="let creator of creators" [value]="creator.creatorId">
            {{ creator.creatorName }}
          </option>
        </select>
      </div>
    </div>
    <div *ngIf="immunesCount > 2">
      <div>
        <label for="date">Date:</label>
        <input
          type="datetime-local"
          pInputText
          [(ngModel)]="immunes[2].date"
          name="date"
        />
      </div>
      <div>
        <label for="creatorId">Creator:</label>
        <select [(ngModel)]="immunes[2].creatorId" name="creator">
          <option *ngFor="let creator of creators" [value]="creator.creatorId">
            {{ creator.creatorName }}
          </option>
        </select>
      </div>
    </div>
    <div *ngIf="immunesCount > 3">
      <div>
        <label for="date">Date:</label>
        <input
          type="datetime-local"
          pInputText
          [(ngModel)]="immunes[3].date"
          name="date"
        />
      </div>
      <div>
        <label for="creatorId">Creator:</label>
        <select [(ngModel)]="immunes[3].creatorId" name="creator">
          <option *ngFor="let creator of creators" [value]="creator.creatorId">
            {{ creator.creatorName }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="positiveDate">Positive Date:</label>
    <input
      type="datetime-local"
      pInputText
      [(ngModel)]="newMember.positiveDate"
      name="positiveDate"
    />
  </div>
  <div class="form-group">
    <label for="negativeDate">Negative Date:</label>
    <input
      type="datetime-local"
      pInputText
      [(ngModel)]="newMember.negativeDate"
      name="negativeDate"
    />
  </div>
  <div
    class="form-group"
    style="display: flex; justify-content: center; margin-top: 1rem"
  >
    <p-toast></p-toast>
  </div>
  <div
    class="form-group"
    style="display: flex; justify-content: center; margin-top: 1rem"
  >
    <p-button
      label="Save"
      (click)="Save()"
      styleClass="p-button-success"
    ></p-button>
  </div>
</p-dialog>
<!--schemes dialog-->
<p-dialog
  header="Schemes"
  [(visible)]="visibleSchemes"
  [style]="{ width: '50vw' }"
>
  <p>
    The number of people who are not Immuned at all in the clinic:
    {{ notImmunedCount }}
  </p>
  <div class="card">
    <p-chart type="line" [data]="data" [options]="options"> </p-chart>
  </div>
</p-dialog>
